{
  "insertFinalNewline": true,
  "overrides": [
    {
      "files": ".*rc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
